@model DOTNETCOREEXAMPLE.Models.Class_Price_Rate_Master

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Class_Price_Rate_Master</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SERVICEGROUPID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SERVICEGROUPID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SERVICEID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SERVICEID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VISITTYPEID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VISITTYPEID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EFFECTIVEFROMDATE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EFFECTIVEFROMDATE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EFFECTIVETODATE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EFFECTIVETODATE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PRICE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PRICE)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PRICERATEID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
