@model IEnumerable<DOTNETCOREEXAMPLE.Models.Class_Price_Rate_Master>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Index</h2>
<div class="section-heading-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="heading-page text-center-xs">@ViewBag.Title.</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb text-right text-center-xs">
                    <li>
                        <a href="#">Price Rate </a>
                    </li>
                    <li class="active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SERVICEGROUPID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SERVICEID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VISITTYPEID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EFFECTIVEFROMDATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EFFECTIVETODATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRICE)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SERVICEGROUPID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SERVICEID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VISITTYPEID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EFFECTIVEFROMDATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EFFECTIVETODATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRICE)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PRICERATEID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PRICERATEID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PRICERATEID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
