@model DOTNETCOREEXAMPLE.Models.Class_PROJECT_USER_MASTER

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<script src="~/scripts/jquery-1.12.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet" />
<script>

    //$(document).ready(function () {
    //});
      //  $("#btnMPIN").click(function () {
        //    if ($("#typempin").val() == $("#retypempin").val()) { } else {
        //        alert("wrong retype");
        //        return false;
               
        //    }
          //  CheckMPIN();
    //    });
       
    //$("#retypempin").blur(function () {
    //    if ($("#typempin").val() == $("#retypempin").val()) {
           
    //    }
    //    else {
    //        alert("wrong retype");
    //    }
    //});
    function CheckMPIN() {
        if ($("#typempin").val() == $("#retypempin").val()) { } else {
            alert("MPIN and confirm MPIN should match");
            return false;

        }


    }
    var CreateOrLogin = function () {
        // alert($("#mobile").val());
      //  if ($("#mmpin").val() == "") {
           // alert("Please select the MPIN.");
           //  window.location.href = '@Url.Action("Login","Account")';
         //   return false;
      //  } else {
           // alert("mpin exists");


            $.ajax({
                url: "/Account/VerifyOTPForForgetPassword/",
                type: "Post",
                data: {
                    otp: $("#enterotp").val(),
                    mobile: $("#mobile").val(),
                    mpin: $("#mmpin").val()

                },
                success: function (data) {
                    //   alert(data);
                    if (data == "success") {
                        //  alert("success");
                        var buttonorsumbit = document.getElementById("btnVerify").type;
                        //if (buttonorsumbit == "button") {

                        //    alert("You are logging in for first time, kindly fill up the details below.");
                        //    document.getElementById("divRegistration").style.display = "block";
                        //}
                        //else {
                        //    document.getElementById("divRegistration").style.display = "none";
                        //}

                        $("#typempin").prop("disabled", false); 
                        $("#retypempin").prop("disabled", false); 
                        $("#btnMPIN").prop("disabled", false); 
                    } 
                    else if (data == "failure") {

                        alert("failure");
                        if (buttonorsumbit == "button" && data == "failure") {
                            alert("Entered OTP or MPIN is wrong");

                        }
                        $("#enterotp").val("");
                        //alert("failed");

                    }
                    else {
                        alert("empty");
                    }


                }
            })
        //}
    }
    var Verify = function () {
        // alert($("#mobile").val());
        $.ajax({
            url: "/Account/UserExists/",
            type: "get",
            data: "Prefix=" + $("#mobile").val(),
            success: function (data) {
                //  alert(data);
                if (data == "success") {
                    //  alert("UserExists");
                    //    alert("OTP sent Successfully");
                   // document.getElementById("btnVerify").type = "submit";
                    document.getElementById('mmpin').style.visibility = "visible";
                    document.getElementById('lblmmpin').style.visibility = "visible";
                    document.getElementById('atagforget').style.visibility = "visible";

                    //   document.getElementById('lblenterotp').style.visibility = "hidden";
                    //   document.getElementById('sendotp').style.visibility = "hidden";
                    //   document.getElementById('enterotp').style.visibility = "hidden";






                }
                else {
                    //  alert("failure");
                   // document.getElementById("btnVerify").type = "button";
                    document.getElementById('mmpin').style.visibility = "hidden"
                    document.getElementById('lblmmpin').style.visibility = "hidden"
                    $("#mmpin").hide();
                    //alert("failed");

                }


            }
        })
    }
      var UpdateMPIN = function () {
        // alert($("#mobile").val());
          if ($("#typempin").val() == $("#retypempin").val()) { 
        $.ajax({
            url: "/Account/UpdateMPIN/",
            type: "Post",
            data: {

                id: $("#mobile").val(),
                mpin: $("#typempin").val()


            },
            success: function (data) {
                //   alert(data);
                if (data == "success") {
                      alert("MPIN updated successfully");
                      window.location.href = '@Url.Action("Login","Account")';


                }
                else if (data == "failure") {

                    alert("failure");

                    //alert("failed");

                }
                else {
                    alert("empty");
                }


            }
        })
          } else {
              alert("MPIN and confirm MPIN should match");
              return false;

          }
    }
    var SendOTP = function () {

        $.ajax({
            url: "/Account/SendOTP",
            type: "post",
            data: "mobile=" + $("#mobile").val(),
            success: function (data) {
              //  alert(data);
                if (data == "success") {
                    alert("OTP sent Successfully");



    }
    else {
                    alert("failed");


    }


    }
        })

    }
    
</script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>

<body>
    <div class="row">
        <div class="col-md-4">
            @using (Html.BeginForm("ForgetPassword", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="section section-sm section-bottom">
                    <div class="container">

                        <div class="row ">

                            <h3 class="title-text"> Update MPIN</h3>
                            <div class="appointmentform">
                                <div class="field-group" id="forgetpin">
                                    <div class="form-group  col-sm-2">
                                        <label for="inputEmail">Phone Number</label>
                                    </div>
                                    <div class="form-group  col-sm-2">
                                        @*<input type="number" class="form-control" id="PHONENUMBER" name="PHONENUMBER" placeholder=" ">*@
                                        @Html.TextBoxFor(model => model.mobile, "", new { maxLength = 24, size = 24, @class = "form-control", OnChange = "Verify()" })
                                        @Html.ValidationMessageFor(m => m.mobile, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group  col-sm-2">
                                        &nbsp;
                                        <button id="sendotp" type="button" style="padding:10px inherit!important; line-height:13px!important;" class="btn btn-lg btn-primary" onclick="SendOTP()">Send OTP</button>
                                    </div>
                                    <div class="form-group  col-sm-2 ">
                                        <label id="lblenterotp" for="inputEmail">Enter OTP</label>
                                    </div>
                                    <div class="form-group  col-sm-2">
                                        @Html.TextBox("enterotp", "", new { OnChange = "OnChange()", @id = "enterotp", @class = "form-control", @style = "visibility:visible" })
                                        @*<input type="email" class="form-control" id="inputEmail" placeholder=" ">*@
                                    </div>
                                    <div class="form-group  col-sm-2">
                                        &nbsp;
                                        <button type="button" id="btnVerify" style="padding:10px inherit!important; line-height:13px!important;" onclick="CreateOrLogin()" name="btnVerify" class="btn btn-lg btn-primary">Verify OTP</button>

                                        @*<a id="atagforget" style="visibility:hidden" href="#" class="text-theme-xs pull-right a-black" onclick="openforgetmpin()">Forgot MPIN ?</a>*@
                                    </div>
                                    <div class="form-group  col-sm-2">
                                        <label for="inputEmail">MPIN</label>
                                    </div>
                                    <div class="form-group  col-sm-2">
                                        @*<input type="number" class="form-control" id="PHONENUMBER" name="PHONENUMBER" placeholder=" ">*@
                                        @Html.TextBox("typempin", "", new { @id = "typempin", @class = "form-control",@disabled="true", @required = "required" })

                                    </div>
                                    <div class="form-group  col-sm-2">
                                        &nbsp;

                                    </div>
                                    <div class="form-group  col-sm-2 ">
                                        <label id="lblenterotp" for="inputEmail">Re type MPIN</label>
                                    </div>
                                    <div class="form-group  col-sm-2">
                                        @Html.TextBox("retypempin", "", new { @id = "retypempin", @class = "form-control", @disabled = "true",@onchange="CheckMPIN()" , @required="required" })
                                        @*<input type="email" class="form-control" id="inputEmail" placeholder=" ">*@
                                    </div>


                                    <div class="form-group  col-sm-2">
                                        
                                        <button disabled id="btnMPIN" style="padding:10px inherit!important; line-height:13px!important;" onclick="CheckMPIN;UpdateMPIN()" name="btnMPIN" type="submit" class="btn btn-lg btn-primary">Update MPIN</button>

                                    </div>

                                    <div class="clear-fix"> </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</body>
</html>